<div style="margin: 0 auto;display: table; padding-top:70px;" class="has-text-centered">

	<%=image_tag("bot.png", alt: "Bot", class:"bot-img")%>

	<br>
	<span class="cool-text">Hello, My name is Job hunter!<br>
	Are you looking for a job in Finland?
	</span>
	<br>
	<br>
	<a href="https://www.facebook.com/Job-Hunter-867755793387240" class="button is-link is-large">
    	<span class="icon is-medium">
    	  <i class="fa fa-facebook-square"></i>
    	</span>
    	<span>Find a job on Messenger</span>
	</a>
	<div class="mini-footer">
		if you want to know more <a href="/pages/about">about</a> us, feel free to check out <br>
		the <a href="/pages/about">terms of services</a> and our <a href="/pages/about">Privacy policies</a>!
	</div>

</div>

