<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Terms of services', page_path('tos') %></li>
<li><%= link_to 'Privacy policies', page_path('privacypolicies') %></li>
